body{
    background-color: rgb(145, 145, 145)
}

@media(min-width:1000px){
    header{
        
        height: 200px;
        background-image: url(./Imágenes/R.gif);
        background-repeat: no-repeat;
        background-size:100%;

    }
    .contenedor{
        display: flex;
        justify-content: space-around;

    }
    .carta{
        height: 200px;
        width: 150px;
        background-color: aliceblue;
        border: 3px rgb(114, 114, 114) solid;
        text-align: center;
    }

    #ejemploUno{
        text-align: center;
        background-color: black;
        color: azure;
        font-size: 25px;
    }
    
}

@media(max-width:999px) and (min-width:600px){
    header{
        height: 150px;
        background-image: url(./Imágenes/maxresdefault.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
    }
    .contenedor{
        display: grid;
        justify-content: center

    }
    .carta{
        height: 200px;
        width: 150px;
        background-color: aliceblue;
        border: 3px rgb(114, 114, 114) solid;
        text-align: center;
    }
    #ejemploUno{
        text-align: center;
        background-color: black;
        color: azure;
        font-size: 25px;
    }
}

h1{
    color: rgb(255, 255, 255);
    text-align: center;
}

@media(max-width:599px){
    header{
        height: 150px;
        background-image: url(./Imágenes/maxresdefault.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
    }
    .contenedor{
        display: grid;
        justify-content: center

    }
    .carta{
        height: 200px;
        width: 150px;
        background-color: aliceblue;
        border: 3px rgb(114, 114, 114) solid;
        text-align: center;
    }
    #ejemploUno{
        text-align: center;
        background-color: black;
        color: azure;
        font-size: 25px;
    }
}

#imagenUno{
    height: 87px;
    width: 90px;
}

#imagenDos{
    height: 87px;
    width: 90px;
}

.footer{
    text-align: center;
    width: 500px;
    margin-left: 750px;

    label{
        color: azure;
        background-color:black;
    }
}

header{
    background-color: black;
}
